.contact{
    padding-top: 140px;
}
.contact img{
    max-width: 100%;
    overflow: hidden;
}
.contact .item .title{
    font-weight: bold;
}
.item{
    margin: 30px 0;
}
.center-row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact button,
.dialog .filled-button button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    border-radius: 5px;
    background-color: white;
    border: 3px solid #ce17ee;
    color: #ce17ee;
    text-decoration: none;
    text-align: center;
}
.contact button:hover,
.dialog .filled-button button:hover{
    background-color: #ce17ee;
    color: white;
}
.dialog-form{
    display: none;
    justify-content: center;
    position: absolute;
    margin: 15vh 30vw;
    z-index: 10000;
}
.dialog{
    padding: 25px;
    background-color: white;
    width: 40vw;
    height: 100%;
    margin: 40px auto;
    border: black solid 2px;
    border-radius: 25px;
    color: #232323;
}
.dialog .dialog-heading{
    position: absolute;
    right: 10px;
}
.dialog .form{
    margin: 0 auto 20px auto;
    text-align: center;
}
.dialog .form input,
.dialog .form textarea{
    margin: 10px 5px;
    width: 93%;
}
.dialog .form .halfsize input{
    width: 45%;
}
.dialog .form .col-md-12{
    display: flex;
    justify-content: center;
}
.dialog .form button{
    width: 20%;
}
.dialog h2{
    text-align: center;
}
.dialog .fa-times-circle{
    font-weight: bold;
    color: #ce17ee;
}
#gray {
    display: none;
    background-color: rgba(1,1,1, 0.75);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
}
