.contact .row {
    margin-top: 60px;
    padding: 30px;
    background-color: rgba(233, 170, 238, 0.38);
    border-radius: 5px;
}

.contact .row h4 {
    font-size: 17px;
    margin-bottom: 15px;
}

.contact .row em {
    font-style: normal;
    font-weight: 700;
}

.contact .row .col {
    text-align: right;
}
.contact .row .center {
    display: flex;
    justify-content: center;
    align-content: center;
}
.contact .row .filled-button {
    margin-top: 22px;
    height: 50px;
    padding: 10px 5px;
    border-radius: 5px;
    border: 3px solid #ce17ee;
    color: #ce17ee;
    text-decoration: none;

}
.contact .row .filled-button:hover {
    background-color: #ce17ee;
    color: white;
}
